@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);


*{
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
nav{
  background: rgb(13, 203, 233);
}
nav .menu {
  display: flex;
  text-align: center;
}
nav .menu a{
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  margin: auto;
  padding: 10px 0;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 500ms;
}
nav .menu a:nth-child(2){
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
nav .menu a:hover{
  background: white;
}
